.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin-left: 48px;
  color: #2f80ed;
  width: 250px;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
